<%- include('../views/partials/head') %>



<h1>Formulário de Login!</h1>
<form action="/login" method="post">
    <input type="text" name="username" placeholder="username" >
    <input type="password" name="password" placeholder="password">
    <button type="submit">Enviar</button>
</form>



<%- include('../views/partials/footer') %>
